body {
  background-image: url("http://cdn1.vox-cdn.com/assets/4229567/game-of-thrones-poster_85627-1920x1200.jpg");
  background-size: 100%;
  color: white;
}

.heading {
  text-align: center;
  width: 300px;
  position: relative;
  right: 110px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100px;
}

